/* Universal reset for margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body styling */
body {
    display: flex;
    height: 100vh;
    background: linear-gradient(#87cefa, #ffffff);
    min-height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    flex-direction: column;
}

/* Header styling */
header {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.25rem;
}

/* Main content styling */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Container styling */
.container {
    text-align: center;
}

/* Logo styling */
.logo {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 5px;
}

/* Score board styling */
.score-board {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Game board styling */
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

/* Cell styling */
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #000;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border-width: 2px;
}

.cell:hover {
    background-color: #cad3d3; 
    box-shadow: 0 0 0 4px #465d6280, inset 0 0 4px #519aac;
}

.cell.x {
    background-color: #90EE90; /* Green for player X */
}

.cell.o {
    background-color: #FFFFE0; /* Yellow for player O */
}

/* Flash animation for winner cells */
@keyframes flash {
    0% { background-color: red; }
    33% { background-color: green; }
    66% { background-color: blue; }
    100% { background-color: red; }
}

.cell.winner {
    animation: flash 1s infinite;
}

/* Heading and paragraph styling */
h1 {
    font-weight: 900;  
}

p {
    font-weight: bold;
}

/* Result display styling */
#result {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Button styling */
button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
}

#restart {
    background-color: #4CAF50; /* Green background */
}

#viewLeaderboard {
    background-color: #008CBA; /* Blue background */
}

/* Button hover effect */
button:hover {
    opacity: 0.9;
}

/* Footer styling */
footer {
    width: 100%;
    background-color: #87cefa;
    color: #000000;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
    font-size: 1rem;
}

/* Leaderboard styling */
.leaderboard {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 250px;
    background: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow-y: auto;
    height: 90vh; 
    display: block; 
    z-index: 10; 
}

.leaderboard h2 {
    margin-top: 0;
    font-size: 1.25rem;
}

.leaderboard div {
    margin: 5px 0;
    font-size: 1rem;
}
